<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ehticscapitialservices20190910060613.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2a643074-1ec1-48f3-97dc-c5a1eb4c0967/resourcegroups/Ethics_Services/providers/Microsoft.Web/sites/EhticsCapitialServices20190910060613</ResourceId>
    <UserName>$EhticsCapitialServices20190910060613</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://ehticscapitialservices20190910060613.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>