@{
    ViewData["Title"] = "Contact";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">@ViewBag.Title.</h1>
        <p class="lead-text text-muted">@ViewBag.Message</p>
    </div>
</section>

<address>
    Stone Advisor Partners<br />
    Dallas, TX 75020<br />
    <abbr title="Phone">P:</abbr>
    214.278.4444
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@stondavisors.com">Support@stoneadvisors.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@stoneadvisors.com">Marketing@stoneadvisors.com</a>
</address>