@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="form-horizontal">
        <h2>CAMELS Framework For Determining Regulatory Outcomes That Create Competitive Advantage</h2>
        <hr />
        <table class="table table-bordered table-responsive table-hover d-xl-table">
            <tr>
                <th colspan="2" rowspan="2" align="center">CAMELS Rating Outcomes</th>
                <th colspan="2" align="center">Examples of Measurable Regulatory Outcomes</th>
            </tr>
            <tr>
                <th align="center">Targeted Regulatory Exam Outcomes</th>
                <th align="center">Target Financial/Risk OutComes</th>
            </tr>
            <tr>
                <td width="10">C</td>
                <td width="100">Capital Adequacy</td>
                <td width="100"><ul>2</ul> Capital Adequacy Rating</td>
                <td width="100">
                    Tier 1 Capital Ratio > 10%
                    Total Capital Ratios > 12%
                </td>
            </tr>
            <tr>
                <td width="10">A</td>
                <td width="100">Asset Quality</td>
                <td width="100"> <ul>2</ul>  Asset Quality Rating</td>
                <td width="100">Adversly Classified Rating Items Ratio < 40% </td>
            </tr>
            <tr>
                <td width="10">M</td>
                <td width="100">Management Effectivness</td>
                <td width="100"> <ul>2</ul>  Managment Effectivness Rating Satisfactory CRA Rating</td>
                <td width="100">Efficiency Ratio < 60 %</td>
            </tr>
            <tr>
                <td width="10">E</td>
                <td width="100">Earnings Sustainability</td>
                <td width="100"><ul>2</ul>  Earnings Sustainability Rating</td>
                <td width="100">ROAA > 1.25%</td>
            </tr>
            <tr>
                <td width="10">L</td>
                <td width="100">Liquidity Risk</td>
                <td width="100"><ul>2</ul>  Liquidity Risk Rating </td>
                <td width="100">Adversly Stressed Liquidity  > 20%</td>
            </tr>
            <tr>
                <td width="10">S</td>
                <td width="100">Senisitivity to Market</td>
                <td width="100"><ul>2</ul>  Senisitivity to Market Rating </td>
                <td width="100">Adversily Stressed NIM > 3.50%</td>
            </tr>

        </table>
        @Html.ActionLink("Next", "CapitalAdequacyAssessment", "Camel")
    </div>