@model EthicsCap2.Models.Camels.OverallRegulatoryScores
@{
    ViewData["Title"] = "Overall Regulatory Knowledge ";
}

<h1>Overall Regulatory Knowledge</h1>
<div class="form-horizontal">
    <hr />
    <table class="table table-bordered table-responsive table-hover d-xl-table">
        <tr>
            <th rowspan="2"></th>
            <th colspan="2" rowspan="1" align="center">
                Targeted Regulatory Outcomes
            </th>
            <th rowspan="2" colspan="2" align="center">
                Assessment Scoring
                (Category Average Scores)
            </th>
        </tr>
        <tr>
            <th align="center">Targeted Regulatory Exam Outcomes</th>
            <th align="center">Target Financial/Risk OutComes</th>
        </tr>
        <tr>
            <td width="10">C</td>
            <td width="100"><ul>2</ul> Capital Adequacy Rating</td>
            <td width="100">
                Tier 1 Capital Ratio > 10%
                Total Capital Ratios > 12%
            </td>
            <td width="100">
                Average Score: = 2
            </td>
        </tr>
        <tr>
            <td width="10">A</td>
            <td width="100"> <ul>2</ul>  Asset Quality Rating</td>
            <td width="100">Adversly Classified Rating Items Ratio < 40% </td>
            <td width="100">
                Average Score: = 2
            </td>
        </tr>
        <tr>
            <td width="10">M</td>
            <td width="100"> <ul>2</ul>  Managment Effectivness Rating Satisfactory CRA Rating</td>
            <td width="100">Efficiency Ratio < 60 %</td>
            <td width="100">
                Average Score: = 2
            </td>
        </tr>
        <tr>
            <td width="10">E</td>
            <td width="100"><ul>2</ul>  Earnings Sustainability Rating</td>
            <td width="100">ROAA > 1.25%</td>
            <td width="100">
                Average Score: = 2
            </td>
        </tr>
        <tr>
            <td width="10">L</td>
            <td width="100"><ul>2</ul>  Liquidity Risk Rating </td>
            <td width="100">Adversly Stressed Liquidity  > 20%</td>
            <td width="100">
                Average Score: = 2
            </td>
        </tr>
        <tr>
            <td width="10">S</td>
            <td width="100"><ul>2</ul>  Senisitivity to Market Rating </td>
            <td width="100">Adversily Stressed NIM > 3.50%</td>
            <td width="100">
                Average Score: = 2
            </td>
        </tr>

    </table>
    @Html.ActionLink("Next", "Index", "Home")
</div>

